<form action ='' method = 'GET' id='filter_projects' role='form'>
		{% if languages|length > 0 %}
			<div class='form-group'>
				<select multiple id = 'select_languages' class='form-control chosen-select' type='checkbox' name='language' data-placeholder='Select some languages'>
					{% for language in languages %}
						<option value = {{language.name}}> {{language.name}}</option>
					{% endfor %}
				</select>
			</div>
		{% endif %}

		{% if frameworks|length > 0 %}
			<div class='form-group'>
				<select multiple id = 'select_frameworks' class='form-control chosen-select' name='frameworks' data-placeholder='Select some frameworks'>
					{% for framework in frameworks %}
						<option value = {{framework.name}}> {{framework.name}}</option>
					{% endfor %}
				</select>
			</div>
		{% endif %}


		{% if cms|length > 0 %}
			<div class='form-group'>
					<select multiple id = 'select_cms' class='form-control chosen-select' name='cms' data-placeholder='Select a content management system'>
						{% for content_management_system in cms %}
							<option value = {{content_management_system.name}}> {{content_management_system.name}}</option>
						{% endfor %}
					</select>
			</div>
		{% endif %}


		{% if databases|length > 0 %}
			<div class='form-group'>
				<select multiple id = 'select_database' class='form-control chosen-select' name='databases' data-placeholder='Select a database'>
					{% for database in databases %}
						<option value = {{database.name}}> {{database.name}}</option>
					{% endfor %}
				</select>
			</div>
		{% endif %}


		{% if concepts|length > 0 %}
			<div class='form-group'>
				<select multiple id = 'select_concept' class='form-control chosen-select' name='concepts' data-placeholder='Select some concepts'>
					{% for concept in concepts %}
						<option value = {{concept.name}}> {{concept.name}}</option>
					{% endfor %}
				</select>
			</div>
		{% endif %}

		<button type='submit' class='btn btn-default'>Submit</button>
	</form>

	<button class='btn btn-primary' id='filter_projects_form_toggle'>
		<i class = 'fa fa-angle-double-up'></i>
		<i class = 'fa fa-angle-double-downZ'></i>
	</button>
