/* line 7, portfolio_sort.scss */
#main .container-fluid {
  padding-top: 10px;
}

/* line 12, portfolio_sort.scss */
form#filter_projects button {
  width: 100%;
}

/* line 16, portfolio_sort.scss */
#filter_projects_form_toggle {
  width: 100%;
  margin-top: 20px;
}
@media only screen and (min-width: 992px) {
  /* line 16, portfolio_sort.scss */
  #filter_projects_form_toggle {
    display: none;
  }
}

/* line 24, portfolio_sort.scss */
.project-container {
  height: 300px;
}
@media only screen and (min-width: 992px) {
  /* line 24, portfolio_sort.scss */
  .project-container {
    margin-bottom: 60px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 24, portfolio_sort.scss */
  .project-container {
    margin-bottom: 60px;
    height: auto;
  }
}
@media only screen and (max-width: 767px) {
  /* line 24, portfolio_sort.scss */
  .project-container {
    margin-bottom: 60px;
    height: auto;
  }
}
/* line 39, portfolio_sort.scss */
.project-container .project-details {
  font-family: 'Montserrat' , sans-serif;
  font-weight: normal;
  text-align: center;
  border-bottom: 1px solid #f2f2f2;
}
@media only screen and (min-width: 768px) {
  /* line 39, portfolio_sort.scss */
  .project-container .project-details {
    height: auto;
  }
}
@media only screen and (min-width: 992px) {
  /* line 39, portfolio_sort.scss */
  .project-container .project-details {
    height: 300px;
  }
}
/* line 56, portfolio_sort.scss */
.project-container .project-details .project-name {
  font-size: 200%;
  line-height: 1.20;
  text-transform: uppercase;
}
/* line 63, portfolio_sort.scss */
.project-container .project-details .project-description {
  font-size: 100%;
  line-height: 1.20;
  color: #AAD9FF;
}
/* line 69, portfolio_sort.scss */
.project-container .project-details .font-awesome {
  letter-spacing: 5px;
  color: #8cb4b4;
}
/* line 77, portfolio_sort.scss */
.project-container .fancybox-container {
  border-bottom: 1px solid #f2f2f2;
}

/* line 92, portfolio_sort.scss */
.fancybox-close {
  top: 0 !important;
  right: 0 !important;
}

/* line 96, portfolio_sort.scss */
button.project-dropdown {
  width: 100%;
}

/* line 99, portfolio_sort.scss */
div.project-details {
  border-radius: 6px;
}

/* line 104, portfolio_sort.scss */
.galleria {
  width: 515px;
  height: 300px;
  background: #fff;
}
