$screen-large: 'only screen and (min-width:1200px)';
$screen-medium: 'only screen and (min-width:992px)'; 
$screen-tablet: 'only screen and (min-width:768px)';
$screen-small: 'only screen and (max-width:767px)';


#main{
	@media #{$screen-small}{
			margin-top: 20px;
		}
	
}
.col-md-4{
	// text-align: center;
}

.col-md-4 > h1{
	font-family: 'Oswald';
	text-align: center;
}
.col-md-4 > p {
	font-family: 'Istok Web';
	font-size: 20px;
}
#landing-content{
	#landing-links{
		font-size: 40px;
		text-align: center; 
	}
}