
#sortable{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;

	li{	
		margin: 3px 20px 20px 0;
		padding: 1px;
		float: left;
		width: 100%;
		height: 300px;
		
	}

}


button.project-dropdown {
	width: 100%;
}
div.project-details{
	border-radius: 6px;
	padding: 10px 16px;
	border: 1px solid #ccc;
}
.galleria {
	width: 515px;
	height: 300px;
	background: #fff;
}