$screen-large: 'only screen and (min-width:1200px)';
$screen-medium: 'only screen and (min-width:992px)'; 
$screen-tablet: 'only screen and (min-width:768px)';
$screen-small: 'only screen and (max-width:767px)';

#main{
	.container-fluid{
		padding-top: 10px;
	}
}
.project-container{

	height: 300px;

	@media #{$screen-medium}{
			margin-bottom: 60px;
		}
	@media #{$screen-tablet}{
		margin-bottom: 60px;
		height:auto;
	}
	@media #{$screen-small}{
		margin-bottom: 60px;
		height: auto;
	}
	.project-details{

		
		

		@media #{$screen-tablet}{
			height:auto;
		}
		@media #{$screen-medium}{
			height: 300px;
		}

		font-family: 'Montserrat' , sans-serif;
		font-weight: normal; 
		text-align: center;
		border-bottom: 1px solid rgb(242,242,242);

		.project-name{
			
			font-size: 200%;
			
			line-height: 1.20;
			text-transform: uppercase; 
		}
		.project-description{
			font-size: 100%;
			line-height: 1.20;
			color: #AAD9FF;

		}
		.font-awesome{
			letter-spacing: 5px;
			color: rgb(140,180,180);
		}
		

	}

	.fancybox-container{
		border-bottom: 1px solid rgb(242,242,242);

		// img {
		// 	@media #{$screen-tablet} {
		// 		width: auto;
		// 	}
		// 	@media #{$screen-medium}{
		// 		width: 90%;
		// 	}
		// }
	}
}


.fancybox-close{
	top: 0 !important;
	right: 0 !important;
}
button.project-dropdown {
	width: 100%;
}
div.project-details{
	border-radius: 6px;
	// padding: 10px 16px;
	// border: 1px solid #ccc;
}
.galleria {
	width: 515px;
	height: 300px;
	background: #fff;
}