SECRET_KEY = 'blahblahblahblahblahblahblah'

DATABASE_USERNAME = 'put_database_username'
DATABASE_PASSWORD = 'put_database_password'

EMAIL_HOST = 'your_email_host'
EMAIL_PORT = 123
EMAIL_HOST_USER = 'your_host_username'
EMAIL_HOST_PASSWORD = 'your_host_password'
