<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}{% endblock %}
		</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/base-min.css"/>
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/menus-min.css"/> -->
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/forms-min.css">
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/buttons-min.css">
         {% load staticfiles %}
<link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
<link href="{{ STATIC_URL }}base.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}normalize.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ STATIC_URL }}jquery-2.1.0.js" charset='utf-8'>
</script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery.modal.min.js" charset='utf-8'>
</script>
<script type="text/javascript" src="{{ STATIC_URL }}search_button.js" charset='utf-8'>
</script>

<link href="{{ STATIC_URL }}bootstrap.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}jquery.modal.css" type="text/css" media="screen" />
<script type="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" charset='utf-8'>
</script>
<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet"> -->
		{% block stylesheets %}
			
        {% endblock %}
        {% block javascript %}

        {% endblock %}
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        {% block header %}
            <header>
            <ul id = 'navbar'>
                <li id = "header_logo"><a href='{% url "index" %}'>Robert Westenberger</a></li>
           <!--      <li id = "header_search"><input type = "search" placeholder = "Search.."/></li> -->
                <li id = "header_search_button"><a href ="#"> </a></li>
                {% if user.is_authenticated %}
                    <li id = "header_logout"><a href="/logout/">Logout</a></li>
                    <li id = "header_username"><a href="#">{{ user.username }}</a>
                        <ul id = 'dropdown_menu'>
                            <li><a href="#">Storefront</a></li>
                        </ul>
                    </li>
                    
                    
                          
                {% else %}
                <li id = "header_signin"><a href="#login_form" rel="modal:open" class="login-window">Sign in</a></li>
                {% endif %}
            </ul>
        </header>
        {% endblock %}
        <!-- Modal Login Form -->
        <form id="login_form" class="modal" method="post" action="/login/">
            {% csrf_token %}
            Username: <input type="text" name="login_username" value=""  />
            <br />
            Password: <input type="password" name="login_password" value=""  />
            <br />

            <input type="submit" value="submit" name = 'login_submit' />
        </form>


        <div id="main" role="main">
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>