{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		{% block meta_tags %}
			<meta name='viewport' content='width=device-width, initial-scale=1'>
		{% endblock %}
		{% block stylesheets %}
			<link href='{{ STATIC_URL }}normalize.min.css' rel='stylesheet' type='text/css' />
			<link href='{{ STATIC_URL }}jquery-ui.min.css' rel='stylesheet' type='text/css' />
			<link href='{{ STATIC_URL }}jquery-ui.structure.min.css' rel='stylesheet' type='text/css' />
			<link href='{{ STATIC_URL }}jquery-ui.theme.min.css' rel='stylesheet' type='text/css' />
			<link href='{{ STATIC_URL }}bootstrap.min.css' rel='stylesheet' type='text/css' />
			<link href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet'>
			<link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
			<link href='{{ STATIC_URL }}base.css' rel='stylesheet' type='text/css' />
		{% endblock %}

		{% block javascript %}
			<script type='text/javascript' src='{{ STATIC_URL }}jquery-2.1.1.min.js' charset='utf-8'></script>
			<script type='text/javascript' src='{{ STATIC_URL }}jquery-ui.min.js' charset='utf-8'></script>
			<script text='text/javascript' src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' charset='utf-8'></script>
			<script type='text/javascript' src='{{ STATIC_URL }}login_modal.js' charset='utf-8'></script>
		{% endblock %}
		<title>
			{% block title %}
				Robert Westenberger
			{% endblock %}
		</title>
	</head>
	<body>
		{% block header %}
			{% include 'navigation.html' %}
		{% endblock %}
		{% block modal_login_form %}
			{% include 'modal_login_form.html' %}
		{% endblock %}

		<div id='main' role='main'>
			<div class='container-fluid'>
				{% block content %}
				
				{% endblock %}
			</div>
		</div>

	</body>
</html>