{% extends '__base.html' %}
{% load staticfiles %}

{% load forms_extras %}


{% block stylesheets %}
	{{block.super}}
	<link href='{{ STATIC_URL }}landing.css' rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Oswald|Istok+Web' rel='stylesheet' type='text/css'>
{% endblock %}

{% block javascript %}
	{{block.super}}
	<script type='text/javascript' src='{{ STATIC_URL }}landing_animation.js' charset='utf-8'> </script>
{% endblock %}


{% block title %}
	Robert Westenberger
{% endblock %}

{% block content %}
	<div class='row-fluid'>
		<div class='col-md-4'>
		</div>

		<div id='landing-content' class='col-md-4'>
			<h1> Hello,I'm a Web Developer</h1>
			<p> currently residing in Rockaway, New Jersey. I spend my days doing freelancing , dabbling in all kinds of different web technologies. I'm familiar with both front end(HTML5, CSS3, Javascript, jQuery) and back end(Python Django, PHP) programming. I strive to create useable and visually appealing websites.  </p>

			<p> I enjoy all aspects of web development. I'm currently looking for full time employment and more freelancing gigs. Aside from web development, I enjoy fitness, the outdoors, reading, and TV. 
			</p>

			<div id='landing-links'>
				<a href='http://www.github.com/rmwdeveloper'><i class='fa fa-github'></i> </a>
				<a href='http://stackoverflow.com/users/2980081/user2980081'><i class='fa fa-stack-exchange'></i> </a>
				<a href='http://www.reddit.com/u/rmwdeveloper'><i class='fa fa-reddit'></i> </a>

				<a href='https://www.odesk.com/users/~0121200855c9004c83'><img src='{{STATIC_URL}}odesk.png'></a>
				

			</div>
		</div>
		
		<div class='col-md-4'>
		</div>
	</div>
		
{% endblock %}