{% extends "__base.html" %}
{% load modulo%}
{% block stylesheets %}
{% load staticfiles %}
<link href="{{ STATIC_URL }}jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}jquery-ui.structure.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}jquery-ui.theme.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}portfolio_sort.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL}}stacktrace.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery-ui.js" charset='utf-8'></script>
<script type="text/javascript" src="{{ STATIC_URL }}portfolio_sort.js" charset='utf-8'></script>
<script type="text/javascript" src="{{ STATIC_URL }}portfolio_filter.js" charset='utf-8'></script>
<script type="text/javascript" src="{{ STATIC_URL }}galleria-1.4.2.js" charset='utf-8'></script>
<script type="text/javascript" src="{{ STATIC_URL }}portfolio-dropdown.js" charset='utf-8'></script>
{% endblock %}

{% load forms_extras %}

{% block title %}My Portfolio{% endblock %}

{% block content %}

	<div class="row-fluid">
		<div id="sidebar" class="col-md-3"> 
			<!-- Form  -->
			<form action ='' method = 'GET' id='filter_projects' role='form'>

				{% if languages|length > 0 %}
					<div class='form-group'>
						<label for='select_languages'>Languages</label>
						<select multiple id = 'select_languages' class='form-control' type='checkbox' name='language'>
							{% for language in languages %}
								<option value = {{language.name}}> {{language.name}}</option>
							{% endfor %}
						</select>
					</div>
				{% endif %}

				{% if frameworks|length > 0 %}
					<div class='form-group'>
						<label for='select_frameworks'>Frameworks</label>
						<select multiple id = 'select_frameworks' class='form-control' name='frameworks'>
							{% for framework in frameworks %}
								<option value = {{framework.name}}> {{framework.name}}</option>
							{% endfor %}
						</select>
					</div>
				{% endif %}


				{% if cms|length > 0 %}
					<div class='form-group'>
						<label for='select_cms'>Content Management Systems</label>
							<select multiple id = 'select_cms' class='form-control' name='cms'>
								{% for content_management_system in cms %}
									<option value = {{content_management_system.name}}> {{content_management_system.name}}</option>
								{% endfor %}
							</select>
					</div>
				{% endif %}


				{% if databases|length > 0 %}
					<div class='form-group'>
						<label for='select_database'>Databases</label>
						<select multiple id = 'select_database' class='form-control' name='databases'>
							{% for database in databases %}
								<option value = {{database.name}}> {{database.name}}</option>
							{% endfor %}
						</select>
					</div>
				{% endif %}


				{% if concepts|length > 0 %}
					<div class='form-group'>
						<label for='select_concept'>Concepts</label>
						<select multiple id = 'select_concept' class='form-control' name='concepts'>
							{% for concept in concepts %}
								<option value = {{concept.name}}> {{concept.name}}</option>
							{% endfor %}
						</select>
					</div>
				{% endif %}


				<button type='submit' class='btn btn-default'>Submit</button>
			</form>
		</div>
		
		<div class='col-md-9'>
			
			<ul id='sortable'>
				{% for project in projects %}
					<li class='ui-state-default' id = 'project_{{project.id}}'>
						{% if project.id in project_images.keys %}
							<div class='galleria'>
								{% for key , value in project_images.items %}
									{% if key == project.id %}
										{% for image in value %}
											
												
											<img class='img-responsive portfolio-img' src='..{{MEDIA_URL}}{{image}}' >

											
									
										{%endfor%}
									{% endif %}
								{% endfor %}
							</div>
						{% endif %}

						<div class='project-details' id='project-details-{{project.id}}' style='display:none;'>

							{{project.name}}</br>
							{{project.description}}</br>
							{{project.url}}</br>
						</div>

						<button type='button' class = 'btn btn-default btn-lg project-dropdown' id='project-dropdown-{{project.id}}'>
							<span class = 'glyphicon glyphicon-chevron-down' </span>
						</button>
					</li>	
				{% endfor %}
			</ul>
			<script>
				Galleria.loadTheme('{{STATIC_URL}}themes/classic/galleria.classic.js');
				Galleria.run('.galleria');
			</script>
		</div>
	</div>
{% endblock %}