{% extends "__base.html" %}
{% load modulo%}
{% block stylesheets %}
{% load staticfiles %}
<link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}jquery-ui.structure.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}jquery-ui.theme.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}portfolio_sort.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}fancybox/source/jquery.fancybox.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}fancybox/source/helpers/jquery.fancybox-buttons.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}chosen/chosen.css" rel="stylesheet" type="text/css" />


{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL}}stacktrace.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery-ui.js" charset='utf-8'></script>

<script type="text/javascript" src="{{ STATIC_URL }}portfolio_filter.js" charset='utf-8'></script>
<!-- <script type="text/javascript" src="{{ STATIC_URL }}galleria-1.4.2.js" charset='utf-8'></script> -->
<script type="text/javascript" src="{{ STATIC_URL }}portfolio-dropdown.js" charset='utf-8'></script>
<script type="text/javascript" src="{{ STATIC_URL }}fancybox/lib/jquery.mousewheel-3.0.6.pack.js" charset='utf-8'></script>
<script type="text/javascript" src="{{ STATIC_URL }}fancybox/source/jquery.fancybox.pack.js" charset='utf-8'></script>
<script type="text/javascript" src="{{ STATIC_URL }}fancybox/source/helpers/jquery.fancybox-buttons.js" charset='utf-8'></script>
<script type="text/javascript" src="{{ STATIC_URL }}fancybox.js" charset='utf-8'></script>
<script type="text/javascript" src="{{ STATIC_URL }}chosen/chosen.jquery.js" charset='utf-8'></script>
<script type="text/javascript" src="{{ STATIC_URL }}chosen/chosen.proto.js" charset='utf-8'></script>

{% endblock %}

{% load forms_extras %}

{% block title %}My Portfolio{% endblock %}

{% block content %}

	<div class="row-fluid">
		<div id="sidebar" class="col-md-2"> 
			<!-- Form  -->
			<form action ='' method = 'GET' id='filter_projects' role='form'>

				{% if languages|length > 0 %}
					<div class='form-group'>
						<!-- <label for='select_languages'>Languages</label> -->
						<select multiple id = 'select_languages' class='form-control chosen-select' type='checkbox' name='language' data-placeholder='Select some languages'>
							{% for language in languages %}
								<option value = {{language.name}}> {{language.name}}</option>
							{% endfor %}
						</select>
					</div>
				{% endif %}

				{% if frameworks|length > 0 %}
					<div class='form-group'>
						<!-- <label for='select_frameworks'>Frameworks</label> -->
						<select multiple id = 'select_frameworks' class='form-control chosen-select' name='frameworks' data-placeholder='Select some frameworks'>
							{% for framework in frameworks %}
								<option value = {{framework.name}}> {{framework.name}}</option>
							{% endfor %}
						</select>
					</div>
				{% endif %}


				{% if cms|length > 0 %}
					<div class='form-group'>
						<!-- <label for='select_cms'>Content Management Systems</label> -->
							<select multiple id = 'select_cms' class='form-control chosen-select' name='cms' data-placeholder='Select a content management system'>
								{% for content_management_system in cms %}
									<option value = {{content_management_system.name}}> {{content_management_system.name}}</option>
								{% endfor %}
							</select>
					</div>
				{% endif %}


				{% if databases|length > 0 %}
					<div class='form-group'>
						<!-- <label for='select_database'>Databases</label> -->
						<select multiple id = 'select_database' class='form-control chosen-select' name='databases' data-placeholder='Select a database'>
							{% for database in databases %}
								<option value = {{database.name}}> {{database.name}}</option>
							{% endfor %}
						</select>
					</div>
				{% endif %}


				{% if concepts|length > 0 %}
					<div class='form-group'>
						<!-- <label for='select_concept'>Concepts</label> -->
						<select multiple id = 'select_concept' class='form-control chosen-select' name='concepts' data-placeholder='Select some concepts'>
							{% for concept in concepts %}
								<option value = {{concept.name}}> {{concept.name}}</option>
							{% endfor %}
						</select>
					</div>
				{% endif %}


				<button type='submit' class='btn btn-default'>Submit</button>
			</form>
		</div>

		<div id='sidebar-toggle'>

		</div>
		
		<div class='col-md-10'>
				{% for project in projects %}
					<div class='project-container row'>
					
							<div class='project-details col-md-6' id='project-details-{{project.id}}'>
								<span class='project-name'>{{project.name}}</span><br>
								<div class = 'font-awesome'>
								<i class= 'fa fa-mobile'></i>
								<i class= 'fa fa-tablet'></i>
								<i class= 'fa fa-desktop'></i>
								</div>
								<span class='project-description'>{{project.description}}</span><br>
								<span class='project-url'>{{project.url}}</span><br>
							</div>
							<div class='col-md-6'>
								<div class='fancybox-container'>
									{% if project.id in project_images.keys %}
											{% for key , value in project_images.items %}
												{% if key == project.id %}
													{% for image in value %}
														<a class='fancybox' rel='group{{project.id}}' href='..{{MEDIA_URL}}{{image}}'>
														<img  src='..{{MEDIA_URL}}{{image}}' alt=''/>
														</a>
													{%endfor%}
												{% endif %}
											{% endfor %}
										<!-- </div> -->
									{% endif %}
								</div>
							</div>

						

					</div>
				{% endfor %}
		</div>
	</div>
{% endblock %}