{% extends "__base.html" %}

{% block stylesheets %}
{% load staticfiles %}
<link href="{{ STATIC_URL }}register.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascript %}
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script> 
<script type="text/javascript" src="{{ STATIC_URL }}forms.js" charset='utf-8'>
</script>
{% endblock %}

{% load forms_extras %}

{% block title %}Create an account{% endblock %}

{% block content %}

  <h1 id='create_account_heading'>Create Your Account</h1>
  <div id = "registration_sidebar">
    <h3> Lorem Ipsum </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      </p>
  </div>
  <div id = 'form_container'>
    <form action="/register/" id = 'register_form' method="post">
   	  {% csrf_token %}
        {{ form.non_field_errors }}
        
        <fieldset>
        	<div class="fieldWrapper">
        		{{form.username}}
            {% if not  errors.username  %}
              <div class = 'error_container'>
              </div> 
            {% endif %}
            {{ errors.username }}
       	  </div>

       	  <div class="fieldWrapper">
        		{{form.email}}
            {% if not  errors.email  %}
               <div class = 'error_container'>
              </div> 
            {% endif %}
            {{ errors.email }}
       	  </div>

       	  <div class="fieldWrapper">
        		{{ form.password1}}
            {% if not  errors.password1  %}
              <div class = 'error_container'>
              </div> 
            {% endif %}
            {{ errors.password1 }}
       	  </div>

       	  <div class="fieldWrapper">
        		{{ form.password2}}
            {% if not  errors.password2  %}
              <div class = 'error_container'>
              </div> 
            {% endif %}
            {{ errors.password2 }}
       	  </div>
       </fieldset>

       <fieldset>
        	<div class="fieldWrapper">
            {{form.first_name}}
            {% if not  errors.first_name %}
              <div class = 'error_container'>
              </div> 
            {% endif %}
            {{ errors.first_name}}
       	  </div>

       	  <div class="fieldWrapper">
            {{ form.middle_initial}}
            {% if not  errors.middle_initial %}
              <div class = 'error_container'>
              </div> 
            {% endif %}
            {{ errors.middle_initial }}
       	  </div>

       	  <div class="fieldWrapper">
            {{ form.last_name}}
            {% if not  errors.last_name  %}
              <div class = 'error_container'>
              </div> 
            {% endif %}
            {{ errors.last_name }}
       	  </div>
       	
       	  <div class="fieldWrapper">
            {{ form.birth_date}}
            {% if not  errors.birth_date %}
              <div class = 'error_container'>
              </div> 
            {% endif %}
            {{ errors.birth_date }}
       	  </div>	
       </fieldset>
       
       <fieldset>
        	<div class="fieldWrapper">
            {{  form.street_address }}
            {% if not  errors.street_address  %}
              <div class = 'error_container'>
              </div> 
            {% endif %}
            {{ errors.street_address }}
       	  </div>

       	  <div class="fieldWrapper">
            {{form.city}}
            {% if not  errors.city %}
              <div class = 'error_container'>
              </div> 
            {% endif %}
            {{ errors.city }}
       	  </div>
       	
          <div class="fieldWrapper">
            {{form.state}}
            {% if not  errors.state  %}
              <div class = 'error_container'>
              </div> 
            {% endif %}
            {{ errors.state }}
       	  </div>
       </fieldset>

       <p> OR </p>
       
       <fieldset>
        	<div class="fieldWrapper">
            {{form.zip_code}}
            {% if not  errors.zip_code  %}
              <div class = 'error_container'>
              </div> 
            {% endif %}
            {{ errors.zip_code }}
       	  </div>
       </fieldset>
       <div class="fieldWrapper">
         <input type="submit" value="Create the account">
       </div>
    </form>
  </div>
  
{% endblock %}